{% extends "online_store/base.html" %}
{% block content %}

<h2>Coșul de cumpărături</h2>

{% if comanda and comanda.itemcomanda_set.all %}
    <ul>
        {% for item in comanda.itemcomanda_set.all %}
            <li>
                {{ item.produs.denumire }} - {{ item.cantitate }} x {{ item.produs.pret }} RON
                <a href="{% url 'sterge_din_cos' item.id %}">Șterge</a>
            </li>
        {% endfor %}
    </ul>
    <p><strong>Total: {{ comanda.pret_total }} RON</strong></p>
    <a href="{% url 'finalizare_comanda' %}">Finalizează comanda</a>
{% else %}
    <p>Coșul este gol.</p>
{% endif %}

{% endblock %}