{% extends 'online_store/base.html' %}
{% block content %}
<style>
    h2 {
        text-align: center;
        color: #333;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        margin: 10px 0;
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }
    form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
    <h2>{{ produs.denumire }}</h2>
    <p>{{ produs.descriere }}</p>
    <p>Preț: {{ produs.pret }} RON</p>
    <img src="{{ produs.image.url }}" alt="{{ produs.denumire }}" width="500" height="400">

    <form action="{% url 'adauga_in_cos' produs.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Adaugă în coș</button>
    </form>

    <a href="{% url 'cos' %}">Mergi la coș</a>

{% endblock %}